a { color:#2F2F2F; } 
a:visited { color:#2F2F2F; } 
a:active { color:#FF0000; } 
a:hover { color:#FF0000; } 
body { background-color:#D2C3C3; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#iframe_7a1f4a7c { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:728px; height:600px; background:none; border: 0px solid #A0A0A0;  }
.textstyle2 { font-size:7pt; font-family:'ST MicroSquare Ex'; color:#000000;  }
.textstyle3 { font-size:5pt; font-family:'ST MicroSquare Ex'; color:#2F2F2F;  }
